<div class="row songEntry">
  <span class="votingBlock">
    <div style="margin-top: 10px;">
      <i class="fa fa-sort-asc fa-3x upButton"></i>
      <h4>
        <small class="text-muted">Likes</small>
      </h4>
      <i class="fa fa-sort-desc fa-3x downButton"></i>
    </div>
  </span>    
  <span class="contentBlock">
    <img src="{{ static_url('images/defaultThumbnail.jpg') }}" class="imgCircle">
    <h3>Animals - Martin Garrix</h3>
    <br/>
    <audio preload="none" controls>
      <source src="{{ static_url('music/horse.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <h4>
      <small class="text-muted"><a href="#" class="text-muted">Comments</a></small>
    </h4>
  </span>
</div>