<div><div class="row songEntry">
  <span class="votingBlock">
    <input type="hidden" class="userID" value="{{ userID }}"/>
    <i class="fa fa-sort-asc fa-2x upButton {% if preVote == 1 %}
      orangeVote
    {% end %}
    "></i>
    <h4>
      <small class="text-muted rating">{{ song['rating'] }}</small>
    </h4>
    <i class="fa fa-sort-desc fa-2x downButton {% if preVote == -1 %}
      blueVote
    {% end %}"></i>
  </span>    
  <span class="contentBlock">
    <img src="{{ static_url('images/defaultThumbnail.jpg') }}" class="imgCircle">
    <h5 style="font-weight: 700;">{{ song['songName'] }}</h3>
    <br/>
    <audio preload="none" controls>
      <source src="{{ static_url('music/' + song['filePath']) }}">
      Your browser does not support the audio element.
    </audio>
    <h4>
      <small class="text-muted"><a class="text-muted comments">Comments</a> - {{ song['userName'] }} - {{ time }}</small>
    </h4>
  </span>
</div>
  <div class="commentPlaceHolder"></div></div>