{% extends "skeleton.html" %}

{% block sideBar %}
	<a class="logo" href="#">B</a>
    <ul class="nav">
        <li class="active"><a href="#featured">Featured</a>
        </li>
        <li><a href="#stories">Stories</a>
        </li>
    </ul>
    <ul class="nav hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
        </li>
    </ul>
{% end %}

{% block content %}
	<p>Hello, World!</p>
{% end %}