{% extends "skeleton.html" %}

{% block sideBar %}
	<style type="text/css">
		.box{background:url("{{ static_url("images/sideBarBack.jpg") }}");}
	</style>
	<a class="logo" href="#">Muzit</a>
    <ul class="nav">
        <li class="active buttonSide toggleActive" id="top"><a><i class="fa fa-trophy"></i> Top</a>
        </li>
        <li class="buttonSide toggleActive" id="new"><a><i class="fa fa-star"></i> New</a>
        </li>
        <li style="margin-top: 10px;" class="buttonSide toggleActive" id="upload"><a><i class="fa fa-cloud-upload"></i> Upload</a>
        </li>
    </ul>
    <ul class="nav hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://wojtechnology.com" class="buttonSide">Made by Wojtechnology</a>
        </li>
    </ul>
{% end %}

{% block content %}
    {% module TitleEntry("Top") %}
	{% for i in range(3)%}
        {% module SongEntry() %}
    {% end %}
{% end %}