{% extends "skeleton.html" %}

{% block sideBar %}
	<style type="text/css">
		.box{background:url("{{ static_url("images/sideBarBack.jpg") }}");}
	</style>
	<h1 style="color: #999999">Muzit</h1>
    <ul class="nav">
        <li class="active buttonSide"><a href="#featured">Top</a>
        </li>
        <li class="buttonSide"><a href="#stories">New</a>
        </li>
    </ul>
    <ul class="nav hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://wojtechnology.com">Made by Wojtechnology</a>
        </li>
    </ul>
{% end %}

{% block content %}
	{% module SongEntry() %}
{% end %}