{% extends "skeleton.html" %}

{% block content %}

{% module TitleEntry(icon, "Upload") %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<form style="padding-bottom: 20px;" method="post" enctype="multipart/form-data">
  <div class="form-group">

	{% for error in errors %}
		<label class="errorMessage">{{ error }}</label><br>
	{% end %}

    <label for="inputName">Your Name:</label>
    <input name="submitter" style="max-width: 400px;" type="text" class="form-control" id="inputName" placeholder="Your name here">
  </div>
  <div class="form-group">
    <label for="inputSongName">Song Name (Optional):</label>
    <input name="songName" style="max-width: 400px;" type="text" class="form-control" id="inputSongName" placeholder="Song name here">
  </div>
  <div class="form-group">
    <label for="inputFile" name="songFile">File input:</label>
    <input name="songFile" type="file" id="inputFile" accept="audio/mp3">
    <p class="help-block">Mp3 format</p>
  </div>
  <div style="padding-bottom: 10px;" class="g-recaptcha" data-sitekey="6LcyLAITAAAAAPWsywj3QICGRDONkDNRDchAkNGW"></div>
  <button type="submit" class="btn btn-default">Upload</button>
</form>

{% end %}